body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box {
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    text-align: center;
    background-color: aliceblue;
}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
    text-align: center;
}

input {
margin: 10px;
border: solid;
border-radius: 100;
width: 75%;
padding: 10px;
float: center;
font-size: 16px;
text-align: center;
}

.name-item {
    padding: 8px;
    cursor: pointer;
}

.name-item:hover,
.name-item.highlight {
    background-color: rgb(176, 176, 177);
    color: black;
}